@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);/*COMMONS SCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}

/*COMMONS SCSS */
/*HEADER SCSS */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}
header .header-top {
  color: white;
  background-color: #0282f9;
  width: 100%;
  height: 25px;
}
header .header-top div {
  width: 65%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top div h3 {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}
header .header-top div h3:first-child {
  margin-right: 50px;
}
header .header-down {
  width: 65%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
header .header-down .logo-home {
  height: 100%;
  padding: 15px 0;
}
header .header-down .logo-home img {
  height: 100%;
}
header .header-down ul {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style-type: none;
  color: black;
}
header .header-down ul li {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 30px;
}
header .header-down ul li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 800;
  height: 120px;
  line-height: 120px;
  vertical-align: middle;
  color: black;
}
header .header-down ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
header .header-down .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  padding: 0 20px;
}
header .header-down .search input {
  width: 100%;
  font-size: 20px;
  border: none;
  border-bottom: 3px solid #0282f9;
}

/*HEADER SCSS */
/* Main SCSS */
main {
  background-color: black;
}
main .main-content {
  width: 70%;
  margin: 0 auto;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .main-content .main-title {
  position: absolute;
  top: -25px;
  left: 10px;
  font-size: 26px;
  font-weight: 800;
  padding: 10px 30px;
  background-color: #0282f9;
}
main .main-content .about-us-section {
  padding: 50px 0;
  font-size: 20px;
}
main .main-content .about-us-section img {
  width: 100%;
  border-radius: 20px;
}
main .main-content .about-us-section p {
  line-height: 200%;
}
main .main-content .contacts-section div {
  margin: 30px 0;
  font-size: 20px;
}
main .main-content .comics-section {
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content .comics-section .comics-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .main-content .comics-section .comics-box .card {
  width: 16.6666666667%;
  height: 200px;
  font-size: 12px;
  margin-bottom: 40px;
  cursor: pointer;
}
main .main-content .comics-section .comics-box .card .card-img {
  width: 175px;
  height: 175px;
  overflow: hidden;
  margin-bottom: 15px;
}
main .main-content .comics-section .comics-box .card .card-img img {
  width: 100%;
}
main .main-content .comics-section .comics-box .card h3 {
  text-transform: uppercase;
  width: 90%;
}
main .main-content button {
  font-size: 13px;
  padding: 10px 50px;
  font-weight: 600;
  background-color: #0282f9;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

/* Main SCSS */
/* Footer SCSS */
footer {
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
}

.footer-top {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 400px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}
.footer-top img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.footer-top .footer-content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 30%;
  margin: 15px 0;
}
.footer-top .footer-content ul {
  list-style: none;
}
.footer-top .footer-content ul h3 {
  color: white;
  margin: 15px 0;
}
.footer-top .footer-content ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 12px;
}

.footer-bottom {
  background-color: #434343;
}
.footer-bottom .footer-bottom-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
}
.footer-bottom .footer-bottom-content button {
  font-size: 18px;
  background: none;
  padding: 15px 10px;
  color: white;
  font-weight: 600;
  border: 3px solid #0282f9;
}
.footer-bottom .footer-bottom-content button:hover {
  background-color: #0282f9;
  cursor: pointer;
}
.footer-bottom .footer-bottom-content .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .footer-bottom-content .footer-nav h3 {
  margin: 20px;
  color: #0282f9;
}
.footer-bottom .footer-bottom-content .footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom .footer-bottom-content .footer-nav ul li a {
  margin: 10px;
}
.footer-bottom .footer-bottom-content .footer-nav ul li a:hover {
  opacity: 80%;
}

/* Footer SCSS */
/* Jumbotron SCSS */
.jumbo {
  width: 100%;
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
}

/* Jumbotron SCSS */
/* Bottom SCSS */
.main-bottom {
  background-color: #0282f9;
}
.main-bottom .bottom-content {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bottom .bottom-content ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.main-bottom .bottom-content ul li a {
  margin-right: 60px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-bottom .bottom-content ul li a img {
  height: 60px;
  margin-right: 10px;
}
.main-bottom .bottom-content ul li:last-child a img {
  height: 40px;
}